#CLOUD_CENTRAL
APP_PORT=
NODE_ENV=
FE_URL=
NODE_ID=
NODE_URL=
DOMAIN=

DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

AZURE_STORAGE_CONNECTION=
AZURE_STORAGE_CONTAINER=
AZURE_STORAGE_CERT=

CA_CERT=
CLOUD_CERT=
CLOUD_KEY=

VM_NAME=
VM_URL=
CLIENT_ID=
CLIENT_SECRET=
SUBSCRIPTION_ID=
RESOURCE_GROUP=